{% extends 'default/base.html' %}
<!-- show only if authenticated-->
{% block content %} 
<div align = "center" class = "learn">
    <h1>Learn</h1>
    <h5>Access helpful resources here and learn knowledge and techniques to manage your stress </h5>
    <br>
    <h3>Learn more about stress</h3>
    <a href = "https://www.health.qld.gov.au/news-events/news/how-to-reduce-stress-right-now">Ways to reduce stress</a><br>
    <a href = "https://www.cdc.gov/violenceprevention/about/copingwith-stresstips.html">Coping with stress</a><br>
    <a href = "https://www.rachelhill.co.nz/blog/the-5-stages-of-stress">The 5 Stages of Stress</a>
    <h3>Stress management techniques</h3> <!-- consider using unordered or ordered list or maybe use video-->
    <h4><a href = "https://www.youtube.com/watch?v=86m4RC_ADEY">Guided meditation:</a> </h4><br>
    <iframe width="960" height="540" src="https://www.youtube.com/embed/86m4RC_ADEY"></iframe><br>
    
    <a href = "">Deep breathing</a> <br>
    <a href = "">Mindfulness</a> <br>

    <h3></h3>


</div>
{% endblock content %}