{% extends 'default/base.html' %}
<!-- show only if authenticated-->
{% block content %} 



<body>

<div class = "music mixer" align = "center" >
  <h1>Music Mixer</h1>
  <h5><i>Mix and play the sounds here as you desire to aid in your relaxation~</i></h5>
  <p></p>
  <br>

  <div class = "waves">
      <h3><i class="fa-solid fa-house-tsunami"></i>Wave</h3>
      <audio controls loop>
          <source src="/media/audio/waves.ogg" type="audio/ogg">
          <source src="/media/audio/waves.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
        </audio>
  </div>

  <div class = "wind">
      <h3><i class="fa-solid fa-wind"></i>Wind</h3>
      <audio controls loop>
          <source src="/media/audio/wind.ogg" type="audio/ogg">
          <source src="/media/audio/wind.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
        </audio>
  </div>

  <div class = "rain">
    <h3><i class="fa-solid fa-cloud-showers-heavy"></i>Rain</h3>
    <audio controls loop>
        <source src="/media/audio/rain.ogg" type="audio/ogg">
        <source src="/media/audio/rain.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio>
  </div>

  <div class = "fire">
    <h3><i class="fa-solid fa-fire"></i>Fire</h3>
    <audio controls loop>
        <source src="/media/audio/fire.ogg" type="audio/ogg">
        <source src="/media/audio/fire.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio>
  </div>

  <div class = "thunder">
    <h3><i class="fa-solid fa-cloud-bolt"></i>Thunder</h3>
    <audio controls loop>
        <source src="/media/audio/thunder.ogg" type="audio/ogg">
        <source src="/media/audio/thunder.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio>
  </div>

  <div class = "car">
    <h3><i class="fa-solid fa-car-side"></i>Car</h3>
    <audio controls loop>
        <source src="/media/audio/car.ogg" type="audio/ogg">
        <source src="/media/audio/car.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio>
  </div>

</div>

</body>
{% endblock content %}