{% extends 'default/base.html' %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-5 col-sm-6">
            <a href="{% url 'post-list' %}" class="btn btn-light">Back To Feed</a>
        </div>
    </div>
    <!-- button to go back to feed-->
    
    <!-- search user-->
    <!-- upon successful query, shows relevant profiles, including information about their friend count-->
    {% for profile in profile_list %}
        <div class="row justify-content-center mt-3">
            <div class="col-md-5 col-sm-12 border-bottom position-relative">
                <p><a style="text-decoration: none;" class="text-primary" href="{% url 'profile' profile.pk %}">@{{ profile.user }}</a></p> <!-- shows @username-->
                <p>Friends: {{ profile.friends.all.count }}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}